/* Override dropzone style. */
#upload.dropzone {
  background-color: #f0f0f0;
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
  border-radius: .6em;
  min-height: 222px;
  padding: 10px;
}
#upload.dropzone .dz-default.dz-message {
	background-image: none;
	width: auto;
	height: auto;
	margin: 0;
	top: auto;
	left: auto;
}
#upload.dropzone .dz-default.dz-message span {
  display: inline;
}

/* jQM default is .3, which is not readable. */
.ui-disabled, .ui-select .ui-disabled {
    filter: Alpha(Opacity=70);
    opacity: .7;
}

.formcell input.ui-input-text.shortField {
	width: 8em;
}

#errorSection .ui-icon {
	/* alert icon */
    background-position: -504px 50%;
}

.ui-header .ui-title {
	margin-top: 6px;
	margin-bottom: 6px;
}

.ui-header h2.ui-title {
	font-weight: normal;
	font-size: 70%;
	color: #ccc;
}

.no-data {
	color: red;
	font-style: italic;
}

.ui-icon-printer {
	background-image: url("images/icon-18-printer-white.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-icon-printer {
    background-image: url("images/icon-36-printer-white.png");
    background-size: 16px 16px;
  }
}

.ui-btn {
    margin-top: 0 !important;
}

body, div[data-role="page"], div[data-role="content"] {
  min-height: 100%;
}

*:focus {outline: none;}

.ui-content {
  clear: both;
}

.content-primary {
  width: 75%;
  float: right;
  margin-top: -15px;
}

.content-sidebar {
  float: left;
  width: 25%;
  background: #222;
  min-height: 100%;
  margin: -15px 0 0 -15px;
  -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
  box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
}

.content-sidebar .ui-btn {
  margin: 0;
  text-align: left;
}

#sectionIndex {
  margin: 0;
}

#sectionIndex .ui-btn-inner {
	padding-left: 10px;
}

.sectionChild .ui-btn-inner {
	padding-left: 20px;
	font-size: 14px;
}

label {
  color: #000; /* label color */
  font-size: 15px;
}

p {
  color: #000;
  font-size: 15px;
  margin-top: 0;
}

h4 {
  font-size: 15px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-checkbox .ui-btn-text, .ui-select .ui-btn-text {
  font-size: 15px;
  font-weight: normal;
}

label.ui-input-text {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 2px;
}

li {
  font-size: 15px;
  color: #000;
}

.formcell .ui-controlgroup-label {
  color: #000; /* label color */
  width: auto;
  margin: 0;
}

div.child, tr.child, td.child, th.child {
  padding-left: 35px !important;
}

.child .ui-btn-text {
  font-size: 14px;
}


.inlineLabel {
  color: #000; /* label color */
  height: 39px;
  line-height: 39px;
  font-size: 15px;
  white-space: nowrap;
}

.selectLabel {
  color: #000; /* label color */
  height: 53px;
  line-height: 53px;
  font-size: 15px;
  white-space: nowrap;
}

.underLabel, .overLabel {
  color: #000; /* label color */
  font-size: 15px;
}

.reviewLabel {
  font-weight: bold;
}

span.fieldNum {
  color: #000;
  font-size: 15px;
}

.ui-shadow-inset.error {
  border: solid 1px #f00;
}

label.error {
  display: inline;
}

label.error, span.error, span.errorSeparator {
  color: #f00;
}

#topnav {
  margin: -15px -15px 0 15px;
}

form {
  margin: 0;
}

/* Form layout */
.formrow {
  display: table;
  border-spacing: 0;
  width: 100%;
}

.formrow .formcell {
  display: table-cell;
  vertical-align: top;
  padding: 0 12px 0 12px;
  vertical-align: bottom;
}

.labelrow .formcell {
  display: table-cell;
  vertical-align: bottom;
}

.formcell p {
  font-size: 15px; line-height: 1.4; display: block; font-weight: normal; margin: 0 0 .3em;
  color: #000; /* label color */
}

.formrow .formcell:first-child, .formrow .formcell.first {
  padding-left: 0;
}

.formrow .formcell:last-child, .formrow .formcell.last {
  padding-right: 0;
}

.formrow .shrinkwrap {
  width: auto;
  white-space: nowrap;
}

.formcell input.ui-input-text {
  width: 100%;
}

.gridrow {
  display: table;
  border-spacing: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  width: 100%;
}

.gridrow .gridcell{
  display: table-cell;
  padding: 0.5em;
  vertical-align : middle;
  border-spacing: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  vertical-align: middle;
  text-align: center;
}

.gridrow .gridcell:last-child {
  border-right-width: 0;
}

table.formgrid {
  border-collapse: collapse;
  background-color: #FFFFFF;
}

table.formgrid th, table.formgrid td {
  border: 1px solid #CCCCCC;
  padding: 10px 20px 10px 10px;
  font-size: 15px;
}

table.formgrid td {
  vertical-align: top;
}

th.inlineHeader {
  white-space: nowrap;
  text-align: left;
}

.linkSubcategory {
  margin-left: 10px;
  font-size: 15px;
}

table.nogrid th, table.nogrid td {
  font-size: 15px;
  font-weight: normal;
  color: #000; /* label color */
  vertical-align: top;
  border-top: solid 16px transparent;
  border-left: solid 16px transparent;
}

table.nogrid th:first-child, table.nogrid td:first-child {
  border-left: 0;
}

table.nogrid td.child {
  padding-left: 16px;
}

table.nogrid fieldset {
  white-space: nowrap;
}

table.review {
  margin-left: 1em;
}

table.review th {
  text-align: left;
  font-weight: bold;
  max-width: 25em;
}

table.lineitems th {
  vertical-align: middle;
  text-align: left;
}

table.hparesults th {
  text-align: left;
}

table.lineitems td {
  vertical-align: middle;
}

table.formgrid td.subheader {
  padding: 1px 1px 1px 5px;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  background: #f4f4f4;
  color: #333;
}

input.date {
  min-width: 6.5em;
  max-width: 6.5em;
}

input.state {
  min-width: 3em;
  max-width: 3em;
  text-transform: uppercase;
}

div.ui-input-text input.ui-input-text.currency {
  width: 9em;
}

input.percent, input.smallNumber {
  max-width: 4em;
}

.pageButtons {
  text-align: right;
}
.producerItem:nth-child(2) .deleterow {
	display: none;
}

.headerSeparator {
  border-top: 2px solid #d0d0d0;
}

.listItem:first-child .headerSeparator {
  border-top: none;
}

.listItem {
  margin-top: 8px;
}

.listItem:first-child {
  margin-top: 0;
}

@media all and (max-width: 900px) {
  .content-sidebar {
    display: none;
  }
  .content-primary {
    width: 100%;
  }
}
@media all and (min-width: 901px) {
  .topTabs, .topApplicationList {
    display: none;
  }
}
  
table.tablesorter td.numericColumn {
	word-wrap: break-word; 
	text-align: right;
}
table.tablesorter td.textColumn {
	word-wrap: break-word; 
	text-align: left;
}
table.tablesorter td.dateColumn {
	word-wrap: break-word; 
	text-align: center;
}

/* Search popup */
#searchPopup th {
  height: 20px;
}
#searchPopup th, #searchPopup td {
  text-align: left;
  vertical-align: top;
  padding: 4px;
  height: 35px;
}
#searchPopup tr.address td {
  height: auto;
}
#searchPopup tr.client td {
  vertical-align: middle;
}
#searchPopup .type {
  font-style: italic;
  font-size: 12px;
}
.flatselect {
  color: white;
  background-color: #00422c;
  text-shadow: none;
}
#searchPopup tr.address {
  display: none;
  background-color: #c9c9c9;
}
#searchPopup tr.address td {
  padding: 0;
}
#searchPopup tr.address div.address {
  padding: 4px;
}
#searchPopup tr.message td {
  padding-top: 15px;
}

/* Fix icons for checkboxes in jQM 1.3 */
.ui-controlgroup-horizontal .ui-checkbox .ui-icon,
.ui-controlgroup-horizontal .ui-radio .ui-icon { display: inline; }
.ui-controlgroup-horizontal .ui-checkbox .ui-btn-inner,
.ui-controlgroup-horizontal .ui-radio .ui-btn-inner { padding-left: 45px; }
